<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\moguta-api-client-internal-nlog.txt">
  <!-- Путь для внутреннего лога NLog -->

  <!-- Включение асинхронной обработки -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <!-- Цели для записи логов -->
  <targets>
    <!-- Запись логов в файл -->
    <!-- Замените c:\temp\ на подходящий путь -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\moguta-api-client-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Запись в консоль -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Правила для сопоставления логгеров с целями -->
  <rules>
    <!-- Логи от нашего клиента писать в файл и консоль -->
    <logger name="Moguta.ApiClient.*" minlevel="Trace" writeTo="allfile,console" />

    <!-- Пропускать некритические логи от Microsoft -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole без writeTo -->

    <!-- Все остальные логи (если есть) писать в файл и консоль -->
    <logger name="*" minlevel="Trace" writeTo="allfile,console" />
  </rules>
</nlog>